footer {
    background-color: var(--background);
    color: #fff;
    padding: 20px;
    position: relative;
}
footer svg {
    height: 25px
}
footer button {
    background-color: #baf3e6;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--background)
}
footer .message {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #baf3e6;
    position: absolute;
    top: -25px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .message svg {
    color: var(--background)
}