.side-bar {
    background-color: var(--background);
    color: #fff;
    padding: 10px;
    height: 100vh;
    min-width: 300px;
    direction: rtl;
    height: fit-content;
    position: fixed;
    width: 300px
}

.side-bar * {
    direction: ltr;
}
.side-bar .comp-logo img{
    border: 2px dashed #f9c02e
}
.side-bar .comp-logo div {
    background-color: #f9c02e;
    border-radius: 20px;
    padding: 2px 5px;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #000
}
.side-bar .comp-logo div svg {
    width: 15px
}
.side-bar .visit-link {
    border: 1px solid var(--light);
    height: 35px;
    border-radius: 20px;
    width: fit-content;
    align-self: center;
}
.side-bar .visit-link svg {
    font-size: 10px;
    height: 20px

}
.side-bar .visit-link div {
    background-color: var(--light);
    color: var(--background);
    height: 100%;
    border-radius: 20px 0 0 20px;
    padding: 2px 5px
}
.side-bar .visit-link a {
    padding: 2px 10px;
    font-size: 12px;
}
.side-bar .links svg {
    height: 15px
}
.side-bar .links h4 {
    margin-top: 20px;
    margin-right: 20px;
    font-weight: bold;
    color: var(--second);

}
.side-bar .links a {
    padding: 10px 20px;
    transition: all .2s ease-in-out;
}
.side-bar .links a:hover {
    background-color: #003c47;
}
.hamburger-icon {
    display: none;    
}
.side-bar .sidbar-responsive {
    right: 0;
    top: 70px;
    position: absolute;
    transition: right 0.5s ease-in-out;
    z-index: 1;
    background-color: var(--background);
    padding-bottom: 100px;
    padding: 20px;
    width: 300px;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    direction: rtl;

}
.sidbar-responsive::-webkit-scrollbar {
    width: 0.5vw;
}

.sidbar-responsive::-webkit-scrollbar-track {
    background-color: #025a69;
}

.sidbar-responsive::-webkit-scrollbar-thumb {
    background-color: var(--light);
}
/* responsive header */
@media (max-width: 768px) {
    .side-bar {
        width: 100%
    }
    .hamburger-icon {
        display: inline-flex;
    }
    .side-bar .sidbar-responsive {
        right: -150%;
        transition: right 0.5s ease-in-out;
        z-index: 1;

        background-color: var(--background);
        height: 100vh
    }
    .side-bar .sidbar-responsive.block  {
        right: 0
    }
    
}